<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GS1_Handheld_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GS1_Handheld_App.Properties.Settings>
            <setting name="Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Start" serializeAs="String">
                <value />
            </setting>
            <setting name="Stop" serializeAs="String">
                <value />
            </setting>
            <setting name="CommPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_IP" serializeAs="String">
                <value>172.16.160.33</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>141.225.160.118</value>
            </setting>
            <setting name="MovToLoc" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HomeOffset" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="NoCards" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoCycles" serializeAs="String">
                <value>1</value>
            </setting>
        </GS1_Handheld_App.Properties.Settings>
    </userSettings>
</configuration>